src/main/java/com/draperinc/topherMcDonald/erp_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dealer" type="dealerType"/>
  <xs:complexType name="dealerType">
    <xs:sequence>
      <xs:element type="xs:string" name="recentpo"/>
      <xs:element type="posType" name="pos"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dealerid"/>
  </xs:complexType>
  <xs:complexType name="posType">
    <xs:sequence>
      <xs:element type="xs:string" name="po" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>